.highlight-page {

    .content-page-container-fixed-width {
        width: 100%;
        display: inline-block;
    }
    .player-container {
        width: 100%;
        display: inline-block;
        float: left;
        vertical-align: top;
    }
    .playlist-container {
        width: 100%;
        display: inline-block;
        float: right;
    }

    .hashtag-container {
        text-align: left;
    }

    .mr-video-starred {
        width: 24px;
        height: 24px;
    }

    .mr-video-starred i {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* IE/Edge */
        user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
        color: #262B33;
    }

    .mr-video-starred i.starred {
        color: #262B33;
    }

    .playlist-container {

        .playlist-list {
            overflow-y: auto;
            margin-bottom: 20px;
        }

        i {
            margin-top: 3px;
            font-size: 14px;
            color: $dark-lighter;
        }

        md-switch.continue-play-switch {
            margin: 0 0 0 8px;

            .md-container {
                margin: 0;
                height: 18px;
                width: 32px;
            }

            .md-bar {
                height: 11px;
                width: 28px;
            }

            .md-thumb {
                height: 16px;
                width: 16px;
            }
        }

        .mr-highlight-playlist {
            margin-bottom: 4px;
        }
    }

    @media (min-width: $screen-lg-min) {
        .content-page-container-fixed-width {
            width: 950px;
        }
        .player-container {
            width: 752px;
        }
        .playlist-container {
            width: 150px;
        }
    }

    @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        .content-page-container-fixed-width {
            width: 740px;
        }
        .player-container {
            width: 571px;
        }
        .playlist-container {
            width: 120px;
        }
    }

    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
        .content-page-container-fixed-width {
            width: 540px;
        }
        .player-container {
            width: 390px;
        }
        .playlist-container {
            width: 110px;

            .continue-play-label {
                font-size: 12px;
            }
        }
    }

    @media (max-width: $screen-xs-max) {
        padding: 15px 0 0 0;
        .player-container {

            .content-details, .hashtag-and-views-container, .content-social{
                padding: 0 10px;
            }

        }
        .playlist-container {
            margin-top: 30px;

            .continue-play-container {
                text-align: right;
                padding: 0 10px;

                .continue-play-label {
                    font-size: 11px;
                    margin-right: 5px;
                }

            }

            i {
                margin-top: 4px;
                font-size: 12px;
            }

            md-switch.continue-play-switch {
                margin-left: 8px;

                .md-container {
                    height: 16px;
                    width: 24px;
                }

                .md-bar {
                    height: 8px;
                    width: 24px;
                }

                .md-thumb {
                    height: 14px;
                    width: 14px;
                }
            }

            .playlist-list {
                height: 400px;
                margin-bottom: 0px;
            }
        }
    }
}