<div class="landing-page">
    <h2 class="section-heading align-center">Upload your videos!</h2>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">

                    <div class="clearfix"></div>
                    <br><br><br><br><br><br>
                    <h2 class="section-heading h2nero lead">Thanks to <strong>MondayReplay</strong> and <strong>Dropbox</strong> you can upload your favorite videos in few easy steps!</h2><a ng-click="goto('learn-more2')"><img src="/images/landing_pages/learn-more.png" alt=""></a>
                </div>

                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/images/landing_pages/landing-dropbox.jpg" alt="Edit your video">
                </div>
            </div>

        </div>

    </div>

    <div class="content-section-b">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <br><br><br><br><br><br><br><br><br><br>

                    <img src="/images/landing_pages/2-small.jpg" alt="">

                    <h2 class="section-heading">MondayReplay folder</h2>
                    <p class="lead">Once the two accounts are connected, a folder will automatically appear in the Application folder of your Dropbox. </p>

                    <!--<a class="image-roll" ng-click="openLightboxModal(2)">-->
                        <img class="img-responsive imgborder" src="/images/landing_pages/dropbox-2-small.png" alt="">
                    <!--</a>-->


                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <div class="clearfix"></div>

                    <span id="learn-more2"><img src="/images/landing_pages/1-small.jpg" alt=""></span>

                    <h2 class="section-heading">Connect your Dropbox account</h2>
                    <p class="lead">Go to your profile page and connect MondayReplay and Dropbox accounts.</p>

                    <!--<a class="image-roll" ng-click="openLightboxModal(1)">-->
                        <img class="img-responsive imgborder" src="/images/landing_pages/dropbox-1-small.png" alt="">
                    <!--</a>-->
                </div>

            </div>

        </div>

    </div>

    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <div class="clearfix"></div>
                    <br><br><br><br><br><br><br><br><br><br>

                    <img src="/images/landing_pages/4-small.jpg" alt="">

                    <h2 class="section-heading">Check on your download</h2>
                    <p class="lead">You can keep a check on your download directly on your MondayReplay.com profile.</p>
                    <!--<a class="image-roll" ng-click="openLightboxModal(4)">-->
                        <img class="img-responsive imgborder" src="/images/landing_pages/dropbox-4-small.png" alt="">
                    <!--</a>-->
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <div class="clearfix"></div>

                    <img src="/images/landing_pages/3-small.jpg" alt="">

                    <h2 class="section-heading">Upload file</h2>
                    <p class="lead">Create a folder with the videos you want to upload and copy it inside MondayReplay folder. The upload of your videos on our cloud will start automatically. Wait until the process is complete. You’ll find shortly your sessions on your MondayReplay.com profile.</p>

                    <!--<a class="image-roll" ng-click="openLightboxModal(3)">-->
                        <img class="img-responsive imgborder" src="/images/landing_pages/dropbox-3-small.png" alt="">
                    <!--</a>-->

                </div>
            </div>

        </div>

    </div>

    <div class="content-section-b-home">

        <div class="row">
            <div class="col-lg-12 banner-social-buttons">

                <p align="center">
                    <button class="btn btn-facebook ng-binding" ng-click="loginByFacebook()"><i class="fa fa-facebook"></i> Sign in with facebook</button>
                </p>

            </div>
        </div>


    </div>
</div>