<div class="landing-page">
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">

                    <div class="clearfix"></div>
                    <h2 class="section-heading h2nero">Share your videos on <span class="h2rosso">MondayRe</span><span class="h2blu">play</span></h2>
                    <p class="lead">On MondayReplay you can upload and edit your favorite sport adventures videos for free in 3 easy steps. Thanks to the GPS sync, your videos will have a unique and incredible realistic dimension. Join our community.</p>
                    <button class="btn btn-facebook ng-binding" ng-click="loginByFacebook()"><i class="fa fa-facebook"></i> Sign in with facebook</button>
                    <br>
                    <div class="scopri"><a ng-click="goto('upload-your-video')">or learn more</a></div>
                </div>

                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/images/landing_pages/gopro-sport.png" alt="MondayReplay & GoPro">
                </div>
            </div>

        </div>

    </div>

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">

                    <div class="clearfix"></div>
                    <img src="/images/landing_pages/1.jpg" alt="">

                    <h2 class="section-heading">Upload your video on Dropbox</h2>
                    <p class="lead">Once registered, a new folder named MondayReplay will appear on your Dropbox account. Upload your videos in the folder and they will be transferred automatically on your MondayReplay profile.</p>
                    <div class="scopri"><a ui-sref="about_uploaddropbox">More details</a></div>
                </div>

                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <span id="upload-your-video"><img class="img-responsive" src="/images/landing_pages/upload-dropbox.png" alt="Upload Dropbox"></span>
                </div>
            </div>

        </div>

    </div>

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">

                    <div class="clearfix"></div>
                    <img src="/images/landing_pages/2.jpg" alt="">
                    <h2 class="section-heading">Edit your video</h2>
                    <p class="lead">Now that you uploaded your videos, you are free to cut and create highlights of your favorite moments. Thanks to the GPS tracking you can follow your venture step by step, checking on speed and altitude stats!</p>
                    <div class="scopri"><a ui-sref="about_editvideo">More details</a></div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/images/landing_pages/edit-video.png" alt="Edit video">
                </div>
            </div>

        </div>

    </div>

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">

                    <div class="clearfix"></div>
                    <img src="/images/landing_pages/3.jpg" alt="">
                    <h2 class="section-heading">Share your experience</h2>
                    <p class="lead">Once the videos are ready, share them with your friends and add other users’ challenges to your profile: this is how you create your community on MondayReplay!</p>
                </div>
                <div class="col-lg-6 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/images/landing_pages/share-video.jpg" alt="Share video">
                </div>
            </div>

        </div>

    </div>

    <div class="content-section-b-home">

        <div class="row">
            <div class="col-lg-12 banner-social-buttons">
                <p align="center">
                    <button class="btn btn-facebook ng-binding" ng-click="loginByFacebook()"><i class="fa fa-facebook"></i> Sign in with facebook</button>
                </p>
            </div>
        </div>

    </div>
</div>