<div class="landing-page">
    <h2 class="section-heading align-center">Customize your video</h2>

    <!-- BLOCCO0 -->
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">

                    <div class="clearfix"></div>
                    <br><br><br><br><br><br>
                    <h2 class="section-heading h2nero lead">Upload your video and start editing: you can create <strong>highlights</strong> out of your session, speed up or slow down every single part of the video and track your position using the <strong>GPS</strong>.</h2><a ng-click="goto('learn-more')"><img
                        src="/images/landing_pages/learn-more.png" alt=""></a>
                </div>

                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/images/landing_pages/landing-edit.jpg" alt="Edit your video">
                </div>
            </div>

        </div>

    </div>
    <!-- /BLOCCO0 -->

    <!-- BLOCCO1 -->
    <div class="content-section-b">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">

                    <div class="clearfix"></div>
                    <h2 class="section-heading align-center"><span id="learn-more">Create your highlights</span></h2>
                    <p class="lead">Become the video editor of your session by creating highlights: <br>
                        - Select the duration of your highlights<br>
                        - Move the cursor at the point you want them to start<br>
                        - Click / Tap on ‘Create Highlights’ button <br>
                        Your director’s cut will be available in the Sessions section right away!
                    </p>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12 align-center">
                    <img class="img-responsive" src="/images/landing_pages/landing-edit-highlights.jpg" alt="">
                </div>

            </div>

        </div>

    </div>
    <!-- /BLOCCO1 -->

    <!-- BLOCCO2 -->
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12">

                    <div class="clearfix"></div>
                    <h2 class="section-heading align-center">GPS path tracking</h2>
                    <p class="lead">Now that you uploaded the video, thanks to the GPS sync you’ll be able to browse the track you’ve been through in your adventure. Click on one of the pins on the map and the related video will play automatically, letting you live again those thrilling moments! Last but not least:
                        you’ll have all the stats regarding speed and altitude for each second tracked on map!
                    </p>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12 align-center">
                    <img class="img-responsive" src="/images/landing_pages/landing-edit-pinmap.jpg" alt="">
                </div>

            </div>

        </div>

    </div>
    <!-- /BLOCCO2 -->

    <!-- BLOCCO3 -->
    <div class="content-section-b">

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 align-center">

                    <div class="clearfix"></div>
                    <h2 class="section-heading">Change the speed of your video</h2>
                    <p class="lead">Speed up or slow down every single moment of your challenge to make it all even funnier!
                    </p>
                </div>

            </div>
            <div class="row">
                <div class="col-lg-12 col-sm-12 align-center">
                    <img class="img-responsive" src="/images/landing_pages/landing-edit-speed.jpg" alt="">
                </div>

            </div>

        </div>

    </div>
    <!-- /BLOCCO3 -->
    <!-- BLOCCO 5 -->
    <div class="content-section-b-home">

        <div class="row">
            <div class="col-lg-12 banner-social-buttons">

                <p align="center">
                    <button class="btn btn-facebook ng-binding" ng-click="loginByFacebook()"><i class="fa fa-facebook"></i> Sign in with facebook</button>
                </p>

            </div>
        </div>


    </div>
    <!-- / BLOCCO 5 -->
</div>