.formError {
  animation: shake 1.2s ease-in-out;
  :global(.modal-content) {
    transition: border .5s, box-shadow .5s;
    border: 1px solid rgba(255, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(255, 0, 0, .1);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
