<div class="landing-page home-page">
    <div class="container">

        <!-- HEADER -->
        <div class="row header">
            <div class="left_header">
                <img src="/images/landing_pages/logo.png" alt="Monday replay" style=""/>
            </div>

            <div class="right_header">
                <img src="/images/landing_pages/facebook.png" alt="login facebook" style="cursor: pointer;" ng-click="loginByFacebook(loginCallback)"/>
            </div>
        </div>

        <!-- HOME IMMAGINE GRANDE -->
        <div class="row">
            <img src="/images/landing_pages/home_big.png" class="img-responsive"/>
        </div>

        <!-- BLOCCO WHO WE ARE -->
        <div class="row block_who_we_are">
            <div class="col-md-7">
                <div style="margin-left: 50px;">
                    <div class="title_who_we_are">WHO WE ARE</div>
                    <div class="body_who_we_are">

                        1. WE HAVE A <strong>GOPRO</strong><br/> 2. WE DO <strong>ACTION SPORTS</strong> WITH FRIENDS<br/>
                        3. WE <strong>LOVE SHARING</strong> AS SOON AS POSSIBLE

                    </div>
                </div>
            </div>
            <div class="col-md-5">

                <div class="block_join_the_community">
                    <div class="title_join_the_community">
                        Join the community<br/>(is free)
                    </div>

                    <div>
                        <img src="/images/landing_pages/facebook.png" alt="login facebook" style="cursor: pointer;"
                             ng-click="loginByFacebook(loginCallback)"/>
                    </div>
                </div>
            </div>
        </div>


        <!-- HOME IMMAGINE MEDIA -->
        <div class="row">
            <img src="/images/landing_pages/home_big_middle.png" class="img-responsive"/>
        </div>


        <!-- IMMAGINE WIN GO PRO -->
        <div class="row">
            <a ui-sref="contest"><img src="/images/landing_pages/win_gopro_gps.png" class="img-responsive"
                                                 alt="Win a GoPro ora a GPS! Discover more about the contest here"/></a>
        </div>


        <div class="row block_intro">
            <div class="title_intro">Highlights</div>
            <div class="body_intro">
                Highlights videos show<br/> the best parts of long raw sessions
            </div>
        </div>


        <div class="row">
            <mr-last-highlights></mr-last-highlights>
        </div>

        <div class="row">
            <a ui-sref="about_editvideo"><img src="/images/landing_pages/red_banner_enjoy.png" class="img-responsive"
                                                    alt="Win a GoPro ora a GPS! Discover more about the contest here"/></a>
        </div>

        <div class="block_intro">
            <div class="title_intro">Sessions</div>
            <div class="body_intro">
                See what we are uploading<br/> while sleeping
            </div>
        </div>

        <div class="row">
            <mr-last-sessions></mr-last-sessions>
        </div>

        <div class="row">
            <a ui-sref="about_uploaddropbox"><img src="/images/landing_pages/red_banner_sdcard.png" class="img-responsive"
                                                        alt="Win a GoPro ora a GPS! Discover more about the contest here"/></a>
        </div>

        <div class="row row_how_to">
            <div class="col-md-4">
                <div class="column_how_to">
                    <div>
                        <img src="/images/landing_pages/how_to_1.png"/>
                    </div>
                    <div class="title_howto">
                        Automatic<br/>plublishing<br/>from Dropbox
                    </div>
                    <div class="body_howto">Upload every type of format from every brand of action cam (except GoPro Studio
                        edited videos)
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="column_how_to">
                    <div>
                        <img src="/images/landing_pages/how_to_2.png"/>
                    </div>
                    <div class="title_howto">
                        Create<br/>Highlights<br/>video
                    </div>
                    <div class="body_howto">Clip yours and friends' sessions in few seconds, create highlights to share or
                        save on your profile
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="column_how_to">
                    <div>
                        <img src="/images/landing_pages/how_to_3.png"/>
                    </div>
                    <div class="title_howto">
                        Sync<br/>videos<br/>with GPS
                    </div>
                    <div class="body_howto">Follow the route of your adventures on the map with GPS tracking</div>
                </div>
            </div>
        </div>

        <div class="row">
            <a href="https://play.google.com/store/apps/details?id=com.mondayreplay.app"><img src="/images/landing_pages/blue_banner.png"
                                                                                              class="img-responsive"
                                                                                              alt="Install the app and enjoy the mobile experience"/></a>
        </div>

        <!--  IMMAGINI HOW TO DA SOSTITUIRE CON CODICE DECENTE -->
        <div class="row">
            <a href="#"><img src="/images/landing_pages/images_how_to.png" class="img-responsive" alt=""/></a>
        </div>

        <div class="row block_who_we_are">
            <div class="col-md-7">
                <div style="margin-left: 50px;">
                    <div class="title_who_we_are">WHO WE ARE</div>
                    <div class="body_who_we_are">

                        1. WE HAVE A <strong>GOPRO</strong><br/> 2. WE DO <strong>ACTION SPORTS</strong> WITH FRIENDS<br/>
                        3. WE <strong>LOVE SHARING</strong> AS SOON AS POSSIBLE

                    </div>
                </div>
            </div>
            <div class="col-md-5">

                <div class="block_join_the_community">
                    <div class="title_join_the_community">
                        Join the community<br/>(is free)
                    </div>

                    <div>
                        <img src="/images/landing_pages/facebook.png" alt="login facebook" style="cursor: pointer;"
                             ng-click="loginByFacebook(loginCallback)"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="row footer_testo">
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                <div><strong>Company</strong></div>
                <div><a ui-sref="about">About</a></div>
                <div><a ui-sref="team">Team</a></div>
            </div>
            <div class="col-md-2">
                <div><strong>Legal</strong></div>
                <div><a ui-sref="termsandconditions">Terms & Conditions</a></div>
                <div><a ui-sref="privacypolicy">Privacy Policy</a></div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-1">
            </div>
        </div>
        <div class="row" style="background-color: #1273b6;padding-bottom:20px;">
            <div class="col-md-1">
            </div>
            <div class="col-md-10" style="border-top:1px solid #6197c7;padding-top:17px;">
                <img alt="Logo" src="/images/landing_pages/logo_footer.png" style="float:left;">

                <div style="font-size:12px;text-align: right;margin-top:10px;color:#c5d9e7;">
                    Copyright &#xa9;MondayReplay 2016. All right reserved.
                </div>
            </div>

            <div class="col-md-1">
            </div>
        </div>
    </div>
</div>