<div class="footr-div">
    <img src="~/Images/footr-img1.png">
</div>
<div class="container-fluid footbg">
    <div class="footr-div1">
        <div class="container">
            <div class="row">

                <div class="col-md-5 testexa">
                    <p>TM + © 2016 <span class="col">ONLINE SEARCH VIIDEO</span>, INC. ALL RIGHTS RESERVED.</p>
                </div>
                <div class="col-md-5 testexa">
                    <ul class="menu-footer-sec">
                        <li><a href="/contactus">Contact Us</a></li>                        
                        <li><a href="/privacy">Privacy Policy</a></li>                        
                        <li><a href="/disclaimer">Disclaimer</a></li>
                    </ul>
                </div>
                <div class="col-md-2 testexa">
                    <p>LANGUAGE : <span class="col">ENGLISH</span></p>
                </div>

            </div>
        </div>
    </div>
</div>
