@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Disclaimer";
}
<style type="text/css">
    .style1 {
        width: 100%;
        background-color: white;
        background-color: white;
        border-collapse: separate;
        border-spacing: 10px 10px;
        padding-bottom: 30px;
        font-family: verdana;
    }
    p.no-margin {
        margin-bottom: 0px;
    }
     
</style>

<nav class="navbar app-navbar" role="navigation">
    <div class="container">
        <div class="row">
            <div class="col-md-12 search-top">
                <form action="">
                    <div class="input-group srchbtn">
                        <input type="text" name="query" class="form-control" value="" placeholder="Search Music, Movies,Sports, Feed, News, Cars and more......">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </button>
                        </span>
                    </div><!-- /input-group -->
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>	<!-- /row -->
    </div>
    <!-- /.container -->
</nav>
<!-- End of Navigation-->
@{ 

}

<div style="height: 20px;background-color: white;
     padding-top: 10px;
     padding-bottom: 10px;
     "><hr style="border: 1px solid #eee;margin: 0;"/></div>

<table class="style1">
    <tbody>
        <tr>
            <td style="padding-bottom: 20px; padding-left: 120px; font-weight:bold; font-style:normal; font-size: 11px;">
                <p>&nbsp;</p>
                <p><span style="font-size: large; font-weight: normal;">Disclaimer</span></p>
                <p class="no-margin">&nbsp;</p>
                <p>Disclaimer of warranty & Limitation of liability</p>                
                <p style="font-weight: normal;">Access to and use of this site onlinesearchvideos.com subjects to the following terms and conditions:</p>                
                <p class="no-margin">&nbsp;</p>
                <p style="font-weight: normal;">Use of this site constitutes your acceptance of these terms and conditions which take effect on the date which you first use the site. onlinesearchvideos.com reserves the right to change these terms and conditions at any time by posting changes online. You are responsible for reviewing regularly information posted online to obtain timely notice of such changes. Your continued use of this site after changes are posted constitutes your acceptance of this agreement as modified by the posted changes.</p>
                <p class="no-margin">&nbsp;</p>
                <p style="font-weight: normal;">You acknowledge that onlinesearchvideos.com and its affiliates do not control, represent or endorse the accuracy, completeness or reliability of any of the information available on the web site and other user and member generated pages and that any opinions, advice, statements, services, offers or other information or content presented or disseminated on the web site or on any other user or member generated pages are those of their respective authors who are solely liable for their content. onlinesearchvideos.com and its affiliates reserve the right, in their sole discretion, to edit, refuse to post or remove any material submitted to or posted on the web site or on any other user or member generated pages.</p>
                <p class="no-margin">&nbsp;</p>
                <p style="font-weight: normal;">onlinesearchvideos.com and its affiliates do not review or monitor any web sites linked to the Service and the Sites and are not responsible for the content of any such linked web sites. Your linking to such web sites is entirely at your own risk. Any communication or material you post or transmit to the Service and/or the Sites is, and will be treated as, non-confidential and non-proprietary. You assume full responsibility for anything you post or transmit, and you grant onlinesearchvideos.com and its affiliates the right to edit, copy, publish and distribute any information or content you post or transit for any purpose.</p>
                <p class="no-margin">&nbsp;</p>
                <p style="font-family: normal;">YOU AGREE THAT USE OF THE SERVICE IS ENTIRELY AT YOUR OWN RISK. onlinesearchvideos.com’s SERVICES ARE PROVIDED “AS IS,” WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION ANY WARRANTY FOR INFORMATION, SERVICES, UNINTERRUPTED ACCESS, OR PRODUCTS PROVIDED THROUGH OR IN CONNECTION WITH THE SERVICE, INCLUDING WITHOUT LIMITATION ANY onlinesearchvideos.com SOFTWARE LICENSED TO YOU AND THE RESULTS OBTAINED THROUGH THE SERVICE. SPECIFICALLY, onlinesearchvideos.com DISCLAIMS ANY AND ALL WARRANTIES, INCLUDING WITHOUT LIMITATION :</p>
                <p class="no-margin">&nbsp;</p>
                <p style="font-weight: normal;">
                    1. ANY WARRANTIES CONCERNING THE AVAILABILITY, ACCURACY OR CONTENT OF INFORMATION, PRODUCTS OR SERVICES; AND <br/>
                    2. ANY WARRANTIES OF TITLE OR WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. THIS DISCLAIMER OF LIABILITY APPLIES TO ANY DAMAGES OR INJURY CAUSED BY ANY FAILURE OF PERFORMANCE, ERROR, OMISSION, INTERRUPTION, DELETION, DEFECT, DELAY IN OPERATION OR TRANSMISSION, COMPUTER VIRUS, COMMUNICATION LINE FAILURE, THEFT OR DESTRUCTION OR UNAUTHORIZED ACCESS TO, ALTERATION OF, OR USE OF RECORD, WHETHER FOR BREACH OF CONTRACT, TORTIOUS BEHAVIOR, NEGLIGENCE, OR UNDER ANY OTHER CAUSE OF ACTION. YOU SPECIFICALLY ACKNOWLEDGE THAT onlinesearchvideos.com IS NOT LIABLE FOR THE DEFAMATORY, OFFENSIVE OR ILLEGAL CONDUCT OF OTHER USERS OR THIRD PARTIES AND THAT THE RISK OF INJURY FROM THE FOREGOING RESTS ENTIRELY WITH YOU. NEITHER onlinesearchvideos.com NOR ANY OF ITS PARTNERS, AGENTS, AFFILIATES OR CONTENT PROVIDERS SHALL BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF USE OF THE SERVICE OR INABILITY TO GAIN ACCESS TO OR USE THE SERVICE OR OUT OF ANY BREACH OF ANY WARRANTY. YOU HEREBY ACKNOWLEDGE THAT THE PROVISIONS OF THIS SECTION SHALL APPLY TO ALL CONTENT ON THE SERVICE.
                </p>
                <p class="no-margin">&nbsp;</p>
                <p style="font-weight: normal;">You agree to indemnify and hold onlinesearchvideos.com, its partners, agents, affiliates and content partners harmless from any dispute which may arise from a breach of terms of this Agreement. You agree to hold onlinesearchvideos.com harmless from any claims and expenses, including reasonable attorney’s fees and court costs, related to Customer’s violation of this Agreement, including the Terms of Service or any Content placed on the Service by you.</p>
                <p class="no-margin">&nbsp;</p>
                <p>Limitation on Liability</p>
                <p class="no-margin">&nbsp;</p>
                <p style="font-weight: normal;">UNDER NO CIRCUMSTANCES, INCLUDING WITHOUT LIMITATION NEGLIGENCE, SHALL onlinesearchvideos.com OR ITS PARENTS, SUBSIDIARIES, AFFILIATES, OFFICERS, DIRECTORS, EMPLOYEES, AGENTS, SUPPLIERS OR ANY OTHER PARTY INVOLVED IN CREATING, PRODUCING, TRANSMITTING, OR DISTRIBUTING onlinesearchvideos.com OR RELATED SERVICES BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES ARISING FROM OR IN CONNECTION WITH THE USE OR INABILITY TO USE onlinesearchvideos.com OR ANY CONTENT PROVIDED BY OR THROUGH THIS SITE, OR RESULTING FROM UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA, OR OTHER INFORMATION THAT IS SENT OR RECEIVED, INCLUDING BUT NOT LIMITED TO DAMAGES FOR LOST PROFITS, USE, DATA OR OTHER INTANGIBLES, EVEN IF onlinesearchvideos.com HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO SOME OF THE ABOVE MAY NOT APPLY TO YOU. IN SUCH JURISDICTIONS, LIABILITY IS LIMITED TO THE FULLEST EXTENT PERMITTED BY LAW.</p>
                <p class="no-margin">&nbsp;</p>
                <p>Applicable Law</p>
                <p class="no-margin">&nbsp;</p>
                <p style="font-weight: normal;">	These terms and conditions shall be governed by and construed in accordance with the laws of the India, without resort to its conflict of law provisions. You agree that any action at law or in equity arising out of or relating to these terms and conditions shall be filed only in the Superior Courts of Hyderabad, India, and you hereby irrevocably and unconditionally consent and submit to the exclusive jurisdiction of such courts over any suit, action or proceeding arising out of these terms and conditions. If these Terms and Conditions are not accepted in full, you do not have permission to access the contents of this website and therefore should cease using this website immediately.</p>

            </td>
        </tr>
        
        
    </tbody>
</table>

