@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Privacy";
}
<style type="text/css">
    .style1 {
        width: 100%;
        background-color: white;
        background-color: white;
        border-collapse: separate;
        border-spacing: 10px 10px;
        padding-bottom: 30px;
        font-family: verdana;
    }    
</style>

<nav class="navbar app-navbar" role="navigation">
    <div class="container">
        <div class="row">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="col-md-12 search-top">
                <form action="">
                    <div class="input-group srchbtn">
                        <input type="text" name="query" class="form-control" value="" placeholder="Search Music, Movies,Sports, Feed, News, Cars and more......">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </button>
                        </span>
                    </div><!-- /input-group -->
                </form>
            </div>
            <!-- /.navbar-collapse -->
        </div>	<!-- /row -->
    </div>
    <!-- /.container -->
</nav>
<!-- End of Navigation-->
@{ 

}

<div style="height: 20px;background-color: white;
     padding-top: 10px;
     padding-bottom: 10px;
     "><hr style="border: 1px solid #eee;margin: 0;"/></div>

<table class="style1">
    <tbody>
        <tr>
            <td style="padding-bottom: 20px; padding-left: 120px; font-weight:bold; font-style:normal; font-size: 11px;">
                <p>&nbsp;</p>
                <p><span style="font-size: large; font-weight: normal;">Privacy policy</span></p>
                <p>&nbsp;</p>
                <p><span style="">At onlinesearchvideos.com, we are very committed to your privacy, onlinesearchvideos.com will never sell, exchange, or release any of your individual personal information to a third party without your express permission.</span></p>
                <p>&nbsp;</p>
                <p>INFORMATION WE MAY COLLECT</p>
                <p>&nbsp;</p>
                <p><span style="font-weight: normal;">At our site, we do not collect personally identifiable information from individuals unless they are voluntarily and knowingly willing to participate in contests. This means we do not require you to register or provide information to us in order to view our site.</span></p>
                <p><span style="font-weight: normal;">Like other web sites, your IP number is visible to us when you visit our web site. Your IP number is visible to most of the websites that you visit. At onlinesearchvideos.com, we only use IP numbers to help diagnose problems with our servers, to administer our Web site.</span></p>
                <p>&nbsp;</p>
                <p>COOKIES</p>
                <p>&nbsp;</p>
                <p><span style="font-weight: normal;">Like many sites, onlinesearchvideos.com uses cookies. Cookies are data files that are stored on your computer. They contain identification information that enables us to see how our users are interacting with our site and how frequently they are returning. Cookies do not contain any personally identifiable information.</span></p>
                <p><span style="font-weight: normal;">We use cookies for the benefit of our users. Cookies let us know if we have repeat visitors (a strong indication of happy consumers) and if we are delivering a quality product to our consumers. We also use cookies to identify which sites our repeat visitors are coming from, so that we can place more of our online advertising on those sites. onlinesearchvideos.com does not use cookies to identify specific individuals, except in such cases as contest registration (where a cookie allows to you to enter a contest every day without registering again each time) and personalization features where a guest requests certain information. onlinesearchvideos.com never uses cookies to retrieve information from your computer that was not originally sent in a cookie. onlinesearchvideos.com does not use information transferred through cookies for any promotional or marketing purposes. Essentially, it is an anonymous way to survey how we are doing and to look for other consumers who we think will like our site. Cookies are not programs that come onto a visitor’s system and damage files. Generally, cookies work by assigning a unique number to the visitor that has no meaning outside the assigning site. If a visitor does not want information collected through the use of cookies, there is a simple procedure in most browsers that allows the visitor to deny or accept the cookie feature.</span></p>
                <p>&nbsp;</p>
                <p><span style="">THIRD PARTY ADVERTISING</span></p>
                <p>&nbsp;</p>
                <p><span style="font-weight: normal;">We use Google and other third-party advertising companies to serve ads when you visit our Web site.</span></p>
                <p>
                    <ul style="font-weight: normal;">
                        <li style="list-style: initial;">
                            Google, as a third party vendor, uses cookies to serve ads on your site.
                        </li>
                        <li style="list-style: initial;">
                            Google’s use of the DART cookie enables it to serve ads to your users based on their visit to your sites and other sites on the Internet.
                        </li>
                        <li style="list-style: initial;">
                            Users may opt out of the use of the DART cookie by visiting the  <a href="http://www.google.com/privacy/ads/">Google ad and content network privacy policy</a>.
                        </li>
                    </ul>                    
                </p>
                <p>&nbsp;</p>
                <p>THIRD PARTY COOKIES</p>
                <p>&nbsp;</p>
                <p style="font-weight: normal;">In the course of serving advertisements to this site, our third-party advertiser may place or recognize a unique “cookie” on your browser.</p>
                <p style="font-weight: normal; text-align: justify;">If you have any questions about this privacy policy, the practices of this site, or your dealings with onlinesearchvideos.com, please write to: <a href="mailto:support@onlinesearchvideos.com">support@onlinesearchvideos.com</a></p>
            </td>
        </tr>
        
        
    </tbody>
</table>

