<div id="header">
  <%= render 'layouts/header_top' %>
  <div id="bottom">
  <div class="content">
  <%= image_tag "stars.png", class: "alignleft" %>
  <div class="text">At the Skirball Center for Adult Jewish Learning at Temple Emanu-El, we are creating a Jewish home 
  for adults of all ages and backgrounds, who share in Judaism's passion and enthusiasm for learning.</div>
  </div> 
  </div>
  <div id="bottom2">
  <div class="content">
    <%= render 'layouts/search' %>
  <h1 class="title">Welcome!</h1>
  </div>
  </div>
</div>
