<div class="sidebar">
  <div class="picture">
  <%= image_tag "student_banner.png", class: "banner" %>
  <%= image_tag student.image.url(:default), class: "pic" %>
  </div>
  <p>"<%= student.quote %>"</p><h3><%= student.attribution %></h3>
</div>

